body {
    margin: 0;

}

.App {
    border: 2px solid black;
    background-color: blueviolet;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.display {
    border: 2px solid pink;
    display: flex;
}

