body {
    margin: 0;

}

.App {
    background-color: blueviolet;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.display {
    display: flex;
    flex-direction: column;
}

.general {
    display: flex;
    border: 2px solid black;
    width: 70vw
}

.EduAndWork {
    display: flex;
}