body {
    box-sizing: border-box;
}

.generalInformation {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 33%;
    justify-content: space-between;
    padding-top: 3px;
    padding-left: 3px;
}

.userInfo {
    display: flex;
    width: 50%;
    justify-content: space-between;
    border: 2px solid black;
    
}


.userImg {
    height: 100px;
   
}

#editButton {
    width: 6vh;
    height: 2vh;
    margin-left: auto;
    margin-top: 2px;
}

.inputText {
    min-width: 100px;
    margin: 0;
}

.eduWorkInformation {
    
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin-top: 20px
}

.Education {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 100%;
    
}

#addBtn {
    width: 100%
}

.one {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}